---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import KanjiGrid from "../components/KanjiGrid.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-QJPVFD5YTY"
        ></script><script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-QJPVFD5YTY");
        </script></head
    >
    <!-- Google tag (gtag.js) -->

    <body>
        <main>
            <Header />
            <h1 class="hello">
                「 <span id="helloText"></span> 」
            </h1>
            <section class="navigation">
                <a class="nav-item" href="ja-study">🇯🇵 Japanese Progress</a>
                <a class="nav-item" href="fr-study">🇫🇷 French Progress</a>
            </section>
            <section id="blogList">
                <ul>
                    {
                        posts.length === 0 ? (
                            <li>
                                <p>no blog yet :(</p>
                            </li>
                        ) : (
                            posts.map((post) => (
                                <li>
                                    <a class="post" href={`/blog/${post.id}/`}>
                                        <img
                                            width={360}
                                            height={240}
                                            src={post.data.heroImage}
                                            alt=""
                                        />
                                        <div class="info">
                                            <h4 class="title">
                                                {post.data.title}
                                            </h4>
                                            <p class="preview">
                                                {post.data.description}
                                            </p>
                                            <p class="date">
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            ))
                        )
                    }
                </ul>
            </section>
        </main>
        <Footer />
    </body>
</html>

<script is:inline>
    const welcome = ["buenas", "howdy", "salut", "おつかれさま～"];
    document.getElementById("helloText").textContent =
        `${welcome[Math.floor(Math.random() * welcome.length)]} 👋`;
</script>
